@using static LibraryManagementSystem.Common.GeneralApplicationConstants;

@model AuthorFormModel

@{
    ViewData["Title"] = "Add Author";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <style>
        .datepicker-dropdown {
            border-radius: 0 !important;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

            .datepicker-dropdown table {
                width: 100%;
            }

                .datepicker-dropdown table thead tr:first-child th {
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                }

                .datepicker-dropdown table td, .datepicker-dropdown table th {
                    text-align: center;
                }

                    .datepicker-dropdown table td.day:hover {
                        background-color: #f2f2f2;
                    }

                    .datepicker-dropdown table td.active, .datepicker-dropdown table td.active:hover {
                        background-color: #007bff;
                        color: #fff;
                    }
    </style>
    <title>@ViewData["Title"]</title>
</head>
<body>

    <div class="container">
        <h1>Add Author</h1>

        <form method="post">
            <div class="form-group col-md-10">
                <div class="form-group mb-3">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" placeholder="" />
                    <span asp-validation-for="FirstName" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" placeholder="" />
                    <span asp-validation-for="LastName" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Biography"></label>
                    <textarea asp-for="Biography" rows="4" class="form-control" placeholder=""></textarea>
                    <span asp-validation-for="Biography" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="BirthDate"></label>
                    <input asp-for="BirthDate" class="form-control" id="birthDate" placeholder="dd.mm.yyyy" />
                    <span asp-validation-for="BirthDate" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="DeathDate"></label>
                    <input asp-for="DeathDate" class="form-control" id="deathDate" placeholder="dd.mm.yyyy" />
                    <span asp-validation-for="DeathDate" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Nationality"></label>
                    <input asp-for="Nationality" class="form-control" placeholder="" />
                    <span asp-validation-for="Nationality" class="small text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ImagePathUrl"></label>
                    <input asp-for="ImagePathUrl" class="form-control" placeholder="" />
                    <span asp-validation-for="ImagePathUrl" class="small text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            var dateFormat = '@GlobalDateFormat';

            $('#birthDate').datepicker({
                format: dateFormat,
                autoclose: true,
                todayHighlight: true
            });
            $('#deathDate').datepicker({
                format: dateFormat,
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>

</body>
</html>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}