@model AuthorFormModel

@{
    ViewData["Title"] = "Edit Author";
}

<h1>Edit Author</h1>

<form method="post">
    <div class="form-group mb-3">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" placeholder="" />
        <span asp-validation-for="FirstName" class="small text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" placeholder="" />
        <span asp-validation-for="LastName" class="small text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Biography"></label>
        <input asp-for="Biography" class="form-control" placeholder="" />
        <span asp-validation-for="Biography" class="small text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" class="form-control" placeholder="" />
        <span asp-validation-for="BirthDate" class="small text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="DeathDate"></label>
        <input asp-for="DeathDate" class="form-control" placeholder="" />
        <span asp-validation-for="DeathDate" class="small text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Nationality"></label>
        <input asp-for="Nationality" class="form-control" placeholder="" />
        <span asp-validation-for="Nationality" class="small text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
