@using static LibraryManagementSystem.Common.GeneralApplicationConstants;
@using LibraryManagementSystem.Web.ViewModels.User

@model RegisterFormModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* Styles and links for Datepicker *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <style>
        .datepicker-dropdown {
            border-radius: 0 !important;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

            .datepicker-dropdown table {
                width: 100%;
            }

                .datepicker-dropdown table thead tr:first-child th {
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                }

                .datepicker-dropdown table td, .datepicker-dropdown table th {
                    text-align: center;
                }

                    .datepicker-dropdown table td.day:hover {
                        background-color: #f2f2f2;
                    }

                    .datepicker-dropdown table td.active, .datepicker-dropdown table td.active:hover {
                        background-color: #007bff;
                        color: #fff;
                    }
    </style>
</head>
<body>
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form id="registerForm" method="post">
                <h2 class="text-center">Create a new account.</h2>
                <hr />
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="" aria-required="true" placeholder="" />
                    <label asp-for="Email">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Username" class="form-control" autocomplete="" aria-required="true" placeholder="" />
                    <label asp-for="Username">Username</label>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="FirstName" class="form-control" autocomplete="off" aria-required="true" placeholder="" />
                    <label asp-for="FirstName">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="LastName" class="form-control" autocomplete="off" aria-required="true" placeholder="" />
                    <label asp-for="LastName">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="DateOfBirth" class="form-control" id="dateOfBirth" autocomplete="off" aria-required="true" placeholder="dd.mm.yyyy" />
                    <label asp-for="DateOfBirth">Date Of Birth</label>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Address" class="form-control" autocomplete="off" aria-required="true" placeholder="" />
                    <label asp-for="Address">Address</label>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Country" class="form-control" autocomplete="off" aria-required="true" placeholder="" />
                    <label asp-for="Country">Country</label>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="City" class="form-control" autocomplete="off" aria-required="true" placeholder="" />
                    <label asp-for="City">City</label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="PhoneNumber" class="form-control" autocomplete="off" aria-required="true" placeholder="" />
                    <label asp-for="PhoneNumber">Phone Number</label>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <recaptcha-v3 form-id="registerForm" action="submit" class="w-100 btn btn-lg btn-primary">Register</recaptcha-v3>
            </form>
        </div>
    </div>

    <div style="height: 80px;"></div>
</body>
</html>

@section Scripts
{
    <recaptcha-script />

    <script>
        @* Script for Datepicker *@
            $(document).ready(function () {
                var dateFormat = '@GlobalDateFormat';

                $('#dateOfBirth').datepicker({
                    format: dateFormat,
                    autoclose: true,
                    todayHighlight: true
                });
            });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
