@model CategoryFormModel

@{
    ViewData["Title"] = "Add Category";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Add Category</h1>
        <br />
        <form method="post">
            <div class="form-group col-md-10 mb-5">
                <div class="form-group mb-4">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="" />
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
