@model CategoryFormModel

@{
    ViewData["Title"] = "Create Category";
}

<h1>Create Category</h1>

<form method="post">
    <div class="form-group mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder=""/>
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>