@model CategoryFormModel

@{
    ViewData["Title"] = "Edit Category";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <h1>Edit Category</h1>
        <div class="form-group col-md-8">
            <form method="post">
                <div class="form-group mb-4">
                    <label asp-for="Name"><b>Name:</b></label>
                    <input asp-for="Name" class="form-control" placeholder="" />
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
