@using static LibraryManagementSystem.Common.UserRoleNames;

@model RatingFormModel

@{
    ViewBag.Title = "Give Rating";
}

<div class="container">
    <br />
    <h3 class="text-center">Give your rating to Book with Title:<br /></h3>
    <h2 class="text-center"><br /><strong>@ViewBag.BookTitle</strong></h2>
    <br />
    <br />
    <div class="d-flex justify-content-center align-items-center">
        <img class="d-block" style="max-width: 200px; height: auto;" src="~/@ViewBag.BookImage" alt="BookCover-img">
    </div>
    <form id="ratingForm" method="post">
        <div class="form-group col-md-10">
            <div class="form-group mb-3">
                <label asp-for="BookRating"></label>
                <input asp-for="BookRating" class="form-control" />
                <span asp-validation-for="BookRating" class="small text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Comment"></label>
                <textarea asp-for="Comment" rows="4" class="form-control" placeholder=""></textarea>
                <span asp-validation-for="Comment" class="small text-danger"></span>
            </div>
            <div class="form-group mb-3" style="display: none;">
                <label asp-for="BookId"></label>
                <input asp-for="BookId" id="BookId" class="form-control" placeholder="" />
                <span asp-validation-for="BookId" class="small text-danger"></span>
            </div>
            <div class="form-group mb-3" style="display: none;">
                <label asp-for="UserId"></label>
                <input asp-for="UserId" id="UserId" class="form-control" placeholder="" />
                <span asp-validation-for="UserId" class="small text-danger"></span>
            </div>
        </div>
        <button type="submit" form-id="ratingForm" class="btn btn-primary">Submit</button>
        @* <recaptcha-v3 form-id="ratingForm" action="submit" class="btn btn-primary">Submit</recaptcha-v3> *@
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    @* <recaptcha-script /> *@

    <script>
        @* Script for getting and setting values from ViewBag and hidden input fields *@
            document.addEventListener('DOMContentLoaded', function () {
                // Get the values from ViewBag
                var bookId = '@ViewBag.BookId';
                var userId = '@ViewBag.UserId';

                // Set the values to the hidden input fields
                document.getElementById('BookId').value = bookId;
                document.getElementById('UserId').value = userId;
            });
    </script>
}